.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ----- Header ----- */
.nav-link:hover {
  text-decoration: underline;
}

/* active */
.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* ----- Cards ----- */
.card:hover {
  background: #efefef !important;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: 0.6s;
}

/* ----- Buttons ----- */
.btn:hover {
  filter: brightness(85%);
  transition: 0.3s;
}

/* ----- Footer icons ----- */
.social-icon:hover i {
  color: #ffffff;
  font-weight: bold;
}

/* Footer links */
footer a:hover {
  font-weight: bold;
}

